<!DOCTYPE html>
<html>
	<head>
		<title>The Capi APP</title>
		
	</head>
<body>
	
	
	
	

<!-- You need to setup your Express server to serve static files. At the moment, it appears to only serve the '/' route.

Just before you setup your routing, add the line below. You can then serve up static assets from a 'public' folder relative to where your script it.

app.use(express.static(path.join(__dirname, 'public')));
So if you put your myJS.js in public/js/myJS.js you can then reference it like so

<script src="/js/myJS.js"></script>
More info in the docs: http://expressjs.com/api.html#express.static -->

