<h1>
	This is the landing page!!!
</h1>

<!-- Add nav links to capi(use) and instructions --> 

<div>
	<a href="/capi">USE THE APP</a>
</div>
<div>
<a href="/instructions">HOW TO USE THE APP</a>
</div>